/*StackLayout {
    border-color: green;
    border-width: 1;
}

GridLayout {
    border-color: blue;
    border-width: 1;
}*/

ActionBar {
    background-color: #9c27b0;
    color: white;
}

.field-error {
    color: #D50000;
    height: auto;
    horizontal-align: left;
    margin-left: 5;
    margin-top: -7;
}

button, label, stack-layout {
    horizontal-align: center;
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}

.hidden {
    visibility: collapsed;
}
